!.keep
*.DS_Store
*.swo
*.swp
/.bundle
/.env
/.foreman
/coverage/*
/db/*.sqlite3
/log/*
/public/system
/public/assets/*
/public/system/*
/node_modules/*
/tags
/tmp/*
/app/config.codekit
# Ignore application configuration
/config/application.yml
/config/database.yml
# React on Rails
npm-debug.log
node_modules

# Generated js bundles
/app/assets/webpack/*
